museums/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "museums"
		},
		"GitHub_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"BlobStorageRaw_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://museumsdatalakeraw.blob.core.windows.net/"
		},
		"museums_csv_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseURL}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GitHub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('GitHub_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageRaw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('BlobStorageRaw_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/museums_csv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('museums_csv_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NGA_GitHub_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GitHub",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "NationalGalleryOfArt/opendata/refs/heads/main/data/objects.csv"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GitHub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NGA_artworks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "nga_artworks.csv",
						"folderPath": "open access",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Object Number",
						"type": "String"
					},
					{
						"name": "Is Highlight",
						"type": "String"
					},
					{
						"name": "Is Timeline Work",
						"type": "String"
					},
					{
						"name": "Is Public Domain",
						"type": "String"
					},
					{
						"name": "Object ID",
						"type": "String"
					},
					{
						"name": "Gallery Number",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "AccessionYear",
						"type": "String"
					},
					{
						"name": "Object Name",
						"type": "String"
					},
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "Culture",
						"type": "String"
					},
					{
						"name": "Period",
						"type": "String"
					},
					{
						"name": "Dynasty",
						"type": "String"
					},
					{
						"name": "Reign",
						"type": "String"
					},
					{
						"name": "Portfolio",
						"type": "String"
					},
					{
						"name": "Constituent ID",
						"type": "String"
					},
					{
						"name": "Artist Role",
						"type": "String"
					},
					{
						"name": "Artist Prefix",
						"type": "String"
					},
					{
						"name": "Artist Display Name",
						"type": "String"
					},
					{
						"name": "Artist Display Bio",
						"type": "String"
					},
					{
						"name": "Artist Suffix",
						"type": "String"
					},
					{
						"name": "Artist Alpha Sort",
						"type": "String"
					},
					{
						"name": "Artist Nationality",
						"type": "String"
					},
					{
						"name": "Artist Begin Date",
						"type": "String"
					},
					{
						"name": "Artist End Date",
						"type": "String"
					},
					{
						"name": "Artist Gender",
						"type": "String"
					},
					{
						"name": "Artist ULAN URL",
						"type": "String"
					},
					{
						"name": "Artist Wikidata URL",
						"type": "String"
					},
					{
						"name": "Object Date",
						"type": "String"
					},
					{
						"name": "Object Begin Date",
						"type": "String"
					},
					{
						"name": "Object End Date",
						"type": "String"
					},
					{
						"name": "Medium",
						"type": "String"
					},
					{
						"name": "Dimensions",
						"type": "String"
					},
					{
						"name": "Credit Line",
						"type": "String"
					},
					{
						"name": "Geography Type",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Subregion",
						"type": "String"
					},
					{
						"name": "Locale",
						"type": "String"
					},
					{
						"name": "Locus",
						"type": "String"
					},
					{
						"name": "Excavation",
						"type": "String"
					},
					{
						"name": "River",
						"type": "String"
					},
					{
						"name": "Classification",
						"type": "String"
					},
					{
						"name": "Rights and Reproduction",
						"type": "String"
					},
					{
						"name": "Link Resource",
						"type": "String"
					},
					{
						"name": "Object Wikidata URL",
						"type": "String"
					},
					{
						"name": "Metadata Date",
						"type": "String"
					},
					{
						"name": "Repository",
						"type": "String"
					},
					{
						"name": "Tags",
						"type": "String"
					},
					{
						"name": "Tags AAT URL",
						"type": "String"
					},
					{
						"name": "Tags Wikidata URL",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rawCSVpaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "github_csv_file_paths.json",
						"container": "misc"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"BaseURL": {
							"type": "string"
						},
						"RelativeURL": {
							"type": "string"
						},
						"FileName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_csv_files_github')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "museums_csv",
					"type": "LinkedServiceReference",
					"parameters": {
						"BaseURL": {
							"value": "@dataset().BaseURL",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"BaseURL": {
						"type": "string"
					},
					"RelativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().RelativeURL",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/museums_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_csv_files_blob_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "open access",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest_museums_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"description": "Fetch URL data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "rawCSVpaths",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "loop over URLs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data from URLs to Blob Storage-raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "all_csv_files_github",
											"type": "DatasetReference",
											"parameters": {
												"BaseURL": {
													"value": "@item().BaseURL",
													"type": "Expression"
												},
												"RelativeURL": {
													"value": "@item().RelativeURL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "all_csv_files_blob_raw",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/rawCSVpaths')]",
				"[concat(variables('factoryId'), '/datasets/all_csv_files_github')]",
				"[concat(variables('factoryId'), '/datasets/all_csv_files_blob_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		}
	]
}