museums/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "museums"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/met_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "met_artworks.csv",
						"folderPath": "open access",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mot_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "mot_artworks.json",
						"folderPath": "api",
						"container": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"1context": {
							"type": "object",
							"properties": {
								"dct": {
									"type": "string"
								},
								"schema": {
									"type": "string"
								},
								"xsd": {
									"type": "string"
								},
								"rdf": {
									"type": "string"
								},
								"rdfs": {
									"type": "string"
								}
							}
						},
						"1graph": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"1type": {
										"type": "string"
									},
									"1id": {
										"type": "string"
									},
									"schema:identifier": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"1type": {
													"type": "string"
												},
												"schema:name": {
													"type": "string"
												},
												"schema:value": {
													"type": "string"
												}
											}
										}
									},
									"schema:genre": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"1id": {
													"type": "string"
												},
												"skos:preflabel": {
													"type": "object",
													"properties": {
														"1value": {
															"type": "string"
														},
														"1lang": {
															"type": "string"
														}
													}
												}
											}
										}
									},
									"schema:name": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"1value": {
													"type": "string"
												},
												"1lang": {
													"type": "string"
												}
											}
										}
									},
									"schema:creator": {
										"type": "object",
										"properties": {
											"1type": {
												"type": "string"
											},
											"schema:name": {
												"type": "array",
												"items": {
													"type": "object",
													"properties": {
														"1value": {
															"type": "string"
														},
														"1lang": {
															"type": "string"
														}
													}
												}
											}
										}
									},
									"schema:dateCreated": {
										"type": "string"
									},
									"schema:material": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"1value": {
													"type": "string"
												},
												"1lang": {
													"type": "string"
												}
											}
										}
									},
									"schema:isPartOf": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"1type": {
													"type": "string"
												},
												"schema:maintainer": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"1type": {
																"type": "string"
															},
															"schema:name": {
																"type": "array",
																"items": {
																	"type": "object",
																	"properties": {
																		"1value": {
																			"type": "string"
																		},
																		"1lang": {
																			"type": "string"
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									},
									"dct:provenance": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"1value": {
													"type": "string"
												},
												"1lang": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rawCSVpaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "github_csv_file_paths.json",
						"container": "misc"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"BaseURL": {
							"type": "string"
						},
						"RelativeURL": {
							"type": "string"
						},
						"FileName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_api_links')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "api_links.json",
						"container": "misc"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/smk_artists')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "smk_artists.json",
						"folderPath": "api",
						"container": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"offset": {
							"type": "integer"
						},
						"rows": {
							"type": "integer"
						},
						"found": {
							"type": "integer"
						},
						"items": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"created": {
										"type": "string"
									},
									"modified": {
										"type": "string"
									},
									"works": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"birth_date_end": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"birth_date_start": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"death_date_end": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"death_date_start": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"gender": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"name_type": {
										"type": "array",
										"items": {
											"type": "string"
										}
									}
								}
							}
						},
						"facets": {
							"type": "object"
						},
						"facets_ranges": {
							"type": "object"
						},
						"autocomplete": {
							"type": "array"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/smk_artworks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "smk_all_da.json",
						"folderPath": "scraped",
						"container": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"offset": {
							"type": "integer"
						},
						"rows": {
							"type": "integer"
						},
						"found": {
							"type": "integer"
						},
						"items": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "string"
									},
									"created": {
										"type": "string"
									},
									"modified": {
										"type": "string"
									},
									"acquisition_date": {
										"type": "string"
									},
									"acquisition_date_precision": {
										"type": "string"
									},
									"dimensions": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"part": {
													"type": "string"
												},
												"type": {
													"type": "string"
												},
												"unit": {
													"type": "string"
												},
												"value": {
													"type": "string"
												}
											}
										}
									},
									"documentation": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"title": {
													"type": "string"
												},
												"author": {
													"type": "string"
												},
												"notes": {
													"type": "string"
												},
												"shelfmark": {
													"type": "string"
												},
												"year_of_publication": {
													"type": "string"
												}
											}
										}
									},
									"object_names": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"name": {
													"type": "string"
												}
											}
										}
									},
									"production": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"creator": {
													"type": "string"
												},
												"creator_forename": {
													"type": "string"
												},
												"creator_surname": {
													"type": "string"
												},
												"creator_date_of_birth": {
													"type": "string"
												},
												"creator_date_of_death": {
													"type": "string"
												},
												"creator_nationality": {
													"type": "string"
												},
												"creator_gender": {
													"type": "string"
												},
												"creator_lref": {
													"type": "string"
												}
											}
										}
									},
									"production_date": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"start": {
													"type": "string"
												},
												"end": {
													"type": "string"
												},
												"period": {
													"type": "string"
												}
											}
										}
									},
									"techniques": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"object_number": {
										"type": "string"
									},
									"object_url": {
										"type": "string"
									},
									"frontend_url": {
										"type": "string"
									},
									"iiif_manifest": {
										"type": "string"
									},
									"enrichment_url": {
										"type": "string"
									},
									"similar_images_url": {
										"type": "string"
									},
									"production_dates_notes": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"public_domain": {
										"type": "boolean"
									},
									"rights": {
										"type": "string"
									},
									"on_display": {
										"type": "boolean"
									},
									"image_mime_type": {
										"type": "string"
									},
									"image_iiif_id": {
										"type": "string"
									},
									"image_iiif_info": {
										"type": "string"
									},
									"image_width": {
										"type": "integer"
									},
									"image_height": {
										"type": "integer"
									},
									"image_size": {
										"type": "integer"
									},
									"image_thumbnail": {
										"type": "string"
									},
									"image_native": {
										"type": "string"
									},
									"image_cropped": {
										"type": "boolean"
									},
									"image_orientation": {
										"type": "string"
									},
									"image_hq": {
										"type": "boolean"
									},
									"has_3d_file": {
										"type": "boolean"
									},
									"has_image": {
										"type": "boolean"
									},
									"colors": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"suggested_bg_color": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"entropy": {
										"type": "number"
									},
									"contrast": {
										"type": "number"
									},
									"saturation": {
										"type": "number"
									},
									"colortemp": {
										"type": "number"
									},
									"brightness": {
										"type": "number"
									},
									"titles": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"title": {
													"type": "string"
												},
												"type": {
													"type": "string"
												},
												"language": {
													"type": "string"
												}
											}
										}
									},
									"artist": {
										"type": "array",
										"items": {
											"type": "string"
										}
									}
								}
							}
						},
						"facets": {
							"type": "object"
						},
						"facets_ranges": {
							"type": "object"
						},
						"autocomplete": {
							"type": "array"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest_museums_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"description": "Fetch URL data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "rawCSVpaths",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "loop over URLs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data from URLs to Blob Storage-raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "all_csv_files_github",
											"type": "DatasetReference",
											"parameters": {
												"BaseURL": {
													"value": "@item().BaseURL",
													"type": "Expression"
												},
												"RelativeURL": {
													"value": "@item().RelativeURL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "all_csv_files_blob_raw",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/rawCSVpaths')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest_museums_json')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_API_links",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "raw_api_links",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop over APIs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_API_links",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_API_links').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "all_api_files_raw",
											"type": "DatasetReference",
											"parameters": {
												"RelativeURL": {
													"value": "@item().RelativeURL",
													"type": "Expression"
												},
												"BaseURL": {
													"value": "@item().BaseURL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "all_api_files_json",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/raw_api_links')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kiasma_raw_to_parquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "kiasma_json",
								"type": "DatasetReference"
							},
							"name": "kiasmaRaw"
						},
						{
							"dataset": {
								"referenceName": "kiasma_json",
								"type": "DatasetReference"
							},
							"name": "kiasmaRawDimensions"
						},
						{
							"dataset": {
								"referenceName": "kiasma_json",
								"type": "DatasetReference"
							},
							"name": "kiasmaRawMedium"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ateneum_parquet",
								"type": "DatasetReference"
							},
							"name": "Ateneum"
						},
						{
							"dataset": {
								"referenceName": "kiasma_parquet",
								"type": "DatasetReference"
							},
							"name": "Kiasma"
						}
					],
					"transformations": [
						{
							"name": "selectBasicCols"
						},
						{
							"name": "split1"
						},
						{
							"name": "flattenArtist"
						},
						{
							"name": "selectDimensionsCols"
						},
						{
							"name": "flattenDimensions"
						},
						{
							"name": "addColForPivot"
						},
						{
							"name": "pivotDimesions"
						},
						{
							"name": "addNewCols",
							"description": "Creates an explicit mapping for each drifted column"
						},
						{
							"name": "FilterNewCols"
						},
						{
							"name": "joinDimensions"
						},
						{
							"name": "selectMedium"
						},
						{
							"name": "flattenMedium"
						},
						{
							"name": "addColforPivot2"
						},
						{
							"name": "pivotMedium"
						},
						{
							"name": "AddMediumCol",
							"description": "Creates an explicit mapping for each drifted column"
						},
						{
							"name": "joinMedium"
						},
						{
							"name": "acqusitionRaw"
						},
						{
							"name": "artistName"
						},
						{
							"name": "selectRaw"
						},
						{
							"name": "addMuseumName"
						},
						{
							"name": "selectFinal"
						},
						{
							"name": "addMuseumName2"
						},
						{
							"name": "selectFinal2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          acquisitionDate as string,",
						"          acquisitionMethod as (en as string, fi as string, sv as string),",
						"          acquisitionYear as short,",
						"          category as (categoryId as string, en as string, fi as string, sv as string),",
						"          children as integer[],",
						"          classifications as (en as string, fi as string, sv as string)[],",
						"          collection as (en as string, fi as string, sv as string),",
						"          dateFrom as string,",
						"          datePrefix as (en as string, fi as string, sv as string),",
						"          description as (artworkId as integer, en as string, fi as string, id as integer, sv as string, type as string),",
						"          dimensions as (measureType as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), measurements as double[], sortLnu as short, unit as string)[],",
						"          exhibitions as (endDate as date, id as integer, location as string, startDate as date, title as string)[],",
						"          inventoryNumber as string,",
						"          keywords as (en as string, fi as string, sv as string)[],",
						"          materials as (en as string, fi as string, sv as string)[],",
						"          multimedia as (address as (created as string, family_name as string, first_name as string, id as integer, updated as string), filename as string, filename_extension as string, height as short, id as integer, image_version as boolean, isRiaDisplayImage as boolean, jpg as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), license as string, ordinal as integer, photographer_name as string, size as integer, updated_timestamp as string, webp as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), width as short)[],",
						"          objectId as integer,",
						"          owner as string,",
						"          parents as integer[],",
						"          people as (attribution as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthDate as date, birthPlace as string, birthPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthYear as short, deathDate as date, deathPlace as string, deathPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathYear as short, familyName as string, firstName as string, id as integer, role as (en as string, fi as string, id as integer, sv as string, type as string))[],",
						"          responsibleOrganisation as string,",
						"          title as (en as string, fi as string, sv as string),",
						"          yearFrom as short,",
						"          yearTo as short",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> kiasmaRaw",
						"source(output(",
						"          acquisitionDate as string,",
						"          acquisitionMethod as (en as string, fi as string, sv as string),",
						"          acquisitionYear as short,",
						"          category as (categoryId as string, en as string, fi as string, sv as string),",
						"          children as integer[],",
						"          classifications as (en as string, fi as string, sv as string)[],",
						"          collection as (en as string, fi as string, sv as string),",
						"          dateFrom as string,",
						"          datePrefix as (en as string, fi as string, sv as string),",
						"          description as (artworkId as integer, en as string, fi as string, id as integer, sv as string, type as string),",
						"          dimensions as (measureType as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), measurements as double[], sortLnu as short, unit as string)[],",
						"          exhibitions as (endDate as date, id as integer, location as string, startDate as date, title as string)[],",
						"          inventoryNumber as string,",
						"          keywords as (en as string, fi as string, sv as string)[],",
						"          materials as (en as string, fi as string, sv as string)[],",
						"          multimedia as (address as (created as string, family_name as string, first_name as string, id as integer, updated as string), filename as string, filename_extension as string, height as short, id as integer, image_version as boolean, isRiaDisplayImage as boolean, jpg as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), license as string, ordinal as integer, photographer_name as string, size as integer, updated_timestamp as string, webp as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), width as short)[],",
						"          objectId as integer,",
						"          owner as string,",
						"          parents as integer[],",
						"          people as (attribution as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthDate as date, birthPlace as string, birthPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthYear as short, deathDate as date, deathPlace as string, deathPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathYear as short, familyName as string, firstName as string, id as integer, role as (en as string, fi as string, id as integer, sv as string, type as string))[],",
						"          responsibleOrganisation as string,",
						"          title as (en as string, fi as string, sv as string),",
						"          yearFrom as short,",
						"          yearTo as short",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> kiasmaRawDimensions",
						"source(output(",
						"          acquisitionDate as string,",
						"          acquisitionMethod as (en as string, fi as string, sv as string),",
						"          acquisitionYear as short,",
						"          category as (categoryId as string, en as string, fi as string, sv as string),",
						"          children as integer[],",
						"          classifications as (en as string, fi as string, sv as string)[],",
						"          collection as (en as string, fi as string, sv as string),",
						"          dateFrom as string,",
						"          datePrefix as (en as string, fi as string, sv as string),",
						"          description as (artworkId as integer, en as string, fi as string, id as integer, sv as string, type as string),",
						"          dimensions as (measureType as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), measurements as double[], sortLnu as short, unit as string)[],",
						"          exhibitions as (endDate as date, id as integer, location as string, startDate as date, title as string)[],",
						"          inventoryNumber as string,",
						"          keywords as (en as string, fi as string, sv as string)[],",
						"          materials as (en as string, fi as string, sv as string)[],",
						"          multimedia as (address as (created as string, family_name as string, first_name as string, id as integer, updated as string), filename as string, filename_extension as string, height as short, id as integer, image_version as boolean, isRiaDisplayImage as boolean, jpg as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), license as string, ordinal as integer, photographer_name as string, size as integer, updated_timestamp as string, webp as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), width as short)[],",
						"          objectId as integer,",
						"          owner as string,",
						"          parents as integer[],",
						"          people as (attribution as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthDate as date, birthPlace as string, birthPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthYear as short, deathDate as date, deathPlace as string, deathPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathYear as short, familyName as string, firstName as string, id as integer, role as (en as string, fi as string, id as integer, sv as string, type as string))[],",
						"          responsibleOrganisation as string,",
						"          title as (en as string, fi as string, sv as string),",
						"          yearFrom as short,",
						"          yearTo as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> kiasmaRawMedium",
						"kiasmaRaw select(mapColumn(",
						"          acquisitionDate,",
						"          acquisitionMethod,",
						"          acquisitionYear,",
						"          dateFrom,",
						"          inventoryNumber,",
						"          objectId,",
						"          owner,",
						"          people,",
						"          responsibleOrganisation,",
						"          title,",
						"          yearFrom,",
						"          yearTo,",
						"          medium_classification = classifications[1].en",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectBasicCols",
						"joinMedium split(responsibleOrganisation=='Kansallisgalleria / Ateneumin taidemuseo',",
						"     responsibleOrganisation=='Kansallisgalleria / Nykytaiteen museo Kiasma',",
						"     disjoint: false) ~> split1@(ateneum, kiasma, rest)",
						"acqusitionRaw foldDown(unroll(people),",
						"     mapColumn(",
						"          objectId,",
						"          title = title.fi,",
						"          inventoryNumber,",
						"          acquisition_method = acquisitionMethod.en,",
						"          acquisition_raw,",
						"          production_raw,",
						"          responsibleOrganisation,",
						"          artist_id = people.id,",
						"          familyName = people.familyName,",
						"          firstName = people.firstName,",
						"          birthDate = people.birthDate,",
						"          birthYear = people.birthYear,",
						"          deathDate = people.deathDate,",
						"          deathYear = people.deathYear,",
						"          artist_country_raw = people.birthPlace,",
						"          medium_classification_raw = medium_classification",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenArtist",
						"kiasmaRawDimensions select(mapColumn(",
						"          dimensions,",
						"          objectId",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectDimensionsCols",
						"selectDimensionsCols foldDown(unrollMultiple(dimensions,dimensions.measurements),",
						"     mapColumn(",
						"          objectId,",
						"          dimension_unit = dimensions.unit,",
						"          measurement_value = dimensions.measurements",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenDimensions",
						"flattenDimensions window(over(objectId),",
						"     asc(measurement_value, true),",
						"     measurement_n = rowNumber()) ~> addColForPivot",
						"addColForPivot pivot(groupBy(objectId,",
						"          dimension_unit),",
						"     pivotBy(measurement_n),",
						"     measurement_value = first(measurement_value),",
						"     columnNaming: '$N$V',",
						"     lateral: false) ~> pivotDimesions",
						"pivotDimesions derive(measurement_value1 = toDouble(byName('measurement_value1')),",
						"          measurement_value2 = toDouble(byName('measurement_value2')),",
						"          measurement_value3 = toDouble(byName('measurement_value3')),",
						"          measurement_value4 = toDouble(byName('measurement_value4'))) ~> addNewCols",
						"addNewCols select(mapColumn(",
						"          objectId,",
						"          dimension_unit,",
						"          measurement_value1,",
						"          measurement_value2,",
						"          measurement_value3,",
						"          measurement_value4",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FilterNewCols",
						"selectRaw, FilterNewCols join(selectRaw@objectId == FilterNewCols@objectId,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDimensions",
						"kiasmaRawMedium select(mapColumn(",
						"          materials,",
						"          objectId",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectMedium",
						"selectMedium foldDown(unroll(materials),",
						"     mapColumn(",
						"          objectId,",
						"          medium = materials.en",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenMedium",
						"flattenMedium window(over(objectId),",
						"     asc(medium, true),",
						"     medium_n = rowNumber()) ~> addColforPivot2",
						"addColforPivot2 pivot(groupBy(objectId),",
						"     pivotBy(medium_n),",
						"     medium = first(medium),",
						"     columnNaming: '$N$V',",
						"     lateral: false) ~> pivotMedium",
						"pivotMedium derive(medium1 = toString(byName('medium1')),",
						"          medium2 = toString(byName('medium2')),",
						"          medium3 = toString(byName('medium3')),",
						"          medium4 = toString(byName('medium4')),",
						"          medium5 = toString(byName('medium5')),",
						"          medium6 = toString(byName('medium6'))) ~> AddMediumCol",
						"joinDimensions, AddMediumCol join(selectRaw@objectId == pivotMedium@objectId,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMedium",
						"selectBasicCols derive(acquisition_raw = iif(isNull(acquisitionDate), toString(acquisitionYear), acquisitionDate),",
						"          production_raw = coalesce(toString(yearTo), toString(yearFrom), dateFrom)) ~> acqusitionRaw",
						"flattenArtist derive(Artist_name = iif(isNull(familyName + ' ' + firstName), coalesce(familyName, firstName), familyName + ' ' + firstName),",
						"          artist_birth_raw = coalesce(birthDate, toDate(toString(birthYear) + '-01-01')),",
						"          artist_death_raw = coalesce(deathDate, toDate(toString(deathYear) + '-01-01'))) ~> artistName",
						"artistName select(mapColumn(",
						"          objectId,",
						"          title,",
						"          inventoryNumber,",
						"          production_raw,",
						"          acquisition_method,",
						"          acquisition_raw,",
						"          responsibleOrganisation,",
						"          artist_id,",
						"          Artist_name,",
						"          artist_birth_raw,",
						"          artist_death_raw,",
						"          artist_country_raw,",
						"          medium_classification_raw",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectRaw",
						"split1@ateneum derive(museum_name = \"Ateneum\",",
						"          museum_id = 1,",
						"          artist_group = \"unknown\",",
						"          artist_gender = \"unknown\") ~> addMuseumName",
						"addMuseumName select(mapColumn(",
						"          object_id = split1@ateneum@objectId,",
						"          title,",
						"          inventory_n = inventoryNumber,",
						"          production_raw,",
						"          acquisition_raw,",
						"          acquisition_method_raw = acquisition_method,",
						"          artist_id,",
						"          artist_name = Artist_name,",
						"          artist_birth_raw,",
						"          artist_death_raw,",
						"          artist_country_raw,",
						"          artist_group,",
						"          artist_gender,",
						"          dimension_unit,",
						"          measurement_value1,",
						"          measurement_value2,",
						"          measurement_value3,",
						"          measurement_value4,",
						"          medium_classification_raw,",
						"          medium1,",
						"          medium2,",
						"          medium3,",
						"          medium4,",
						"          medium5,",
						"          museum_id,",
						"          museum_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectFinal",
						"split1@kiasma derive(museum_name = \"Kiasma\",",
						"          museum_id = 2,",
						"          artist_group = \"unknown\",",
						"          artist_gender = \"unknown\") ~> addMuseumName2",
						"addMuseumName2 select(mapColumn(",
						"          object_id = split1@kiasma@objectId,",
						"          title,",
						"          inventory_n = inventoryNumber,",
						"          production_raw,",
						"          acquisition_raw,",
						"          acquisition_method_raw = acquisition_method,",
						"          artist_id,",
						"          artist_name = Artist_name,",
						"          artist_birth_raw,",
						"          artist_death_raw,",
						"          artist_country_raw,",
						"          artist_group,",
						"          artist_gender,",
						"          dimension_unit,",
						"          measurement_value1,",
						"          measurement_value2,",
						"          measurement_value3,",
						"          measurement_value4,",
						"          medium_classification_raw,",
						"          medium1,",
						"          medium2,",
						"          medium3,",
						"          medium4,",
						"          medium5,",
						"          museum_id,",
						"          museum_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectFinal2",
						"selectFinal sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Ateneum",
						"selectFinal2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Kiasma"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/met_raw_to_parquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "met_raw",
								"type": "DatasetReference"
							},
							"name": "metRaw"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "met_parquet",
								"type": "DatasetReference"
							},
							"name": "MET"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "productionRaw"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select2"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {Object Number} as string,",
						"          {Is Highlight} as string,",
						"          {Is Timeline Work} as string,",
						"          {Is Public Domain} as string,",
						"          {Object ID} as string,",
						"          {Gallery Number} as string,",
						"          Department as string,",
						"          AccessionYear as short,",
						"          {Object Name} as string,",
						"          Title as string,",
						"          Culture as string,",
						"          Period as string,",
						"          Dynasty as string,",
						"          Reign as string,",
						"          Portfolio as string,",
						"          {Constituent ID} as string,",
						"          {Artist Role} as string,",
						"          {Artist Prefix} as string,",
						"          {Artist Display Name} as string,",
						"          {Artist Display Bio} as string,",
						"          {Artist Suffix} as string,",
						"          {Artist Alpha Sort} as string,",
						"          {Artist Nationality} as string,",
						"          {Artist Begin Date} as string,",
						"          {Artist End Date} as string,",
						"          {Artist Gender} as string,",
						"          {Artist ULAN URL} as string,",
						"          {Artist Wikidata URL} as string,",
						"          {Object Date} as string,",
						"          {Object Begin Date} as short,",
						"          {Object End Date} as short,",
						"          Medium as string,",
						"          Dimensions as string,",
						"          {Credit Line} as string,",
						"          {Geography Type} as string,",
						"          City as string,",
						"          State as string,",
						"          County as string,",
						"          Country as string,",
						"          Region as string,",
						"          Subregion as string,",
						"          Locale as string,",
						"          Locus as string,",
						"          Excavation as string,",
						"          River as string,",
						"          Classification as string,",
						"          {Rights and Reproduction} as string,",
						"          {Link Resource} as string,",
						"          {Object Wikidata URL} as string,",
						"          {Metadata Date} as string,",
						"          Repository as string,",
						"          Tags as string,",
						"          {Tags AAT URL} as string,",
						"          {Tags Wikidata URL} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> metRaw",
						"metRaw select(mapColumn(",
						"          object_id = {Object ID},",
						"          title = Title,",
						"          inventoryNumber = {Object Number},",
						"          acquisition_raw = AccessionYear,",
						"          artist_id = {Constituent ID},",
						"          artist_name = {Artist Alpha Sort},",
						"          artist_country = {Artist Nationality},",
						"          artist_birth_raw = {Artist Begin Date},",
						"          artist_death_raw = {Artist End Date},",
						"          artist_gender = {Artist Gender},",
						"          {Object Date},",
						"          {Object Begin Date},",
						"          {Object End Date},",
						"          Dimensions,",
						"          acquisition_method = {Credit Line},",
						"          medium1 = {Object Name}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive(production_raw = coalesce({Object End Date}, {Object Begin Date}),",
						"          dim_europe = split(split(Dimensions, '(')[2], ')')[1],",
						"          museum_name = \"MET\",",
						"          museum_id = 4,",
						"          object_id = toInteger(object_id),",
						"          medium_classification_raw = medium1) ~> productionRaw",
						"productionRaw derive(dimension_unit = regexReplace(replace(dim_europe, 'x', ' '), '[^A-Za-z]+', ' '),",
						"          measurement_value_raw = split(replace(replace(dim_europe, 'x', ''), 'cm', ''), ' '),",
						"          artist_group = \"unknown\") ~> derivedColumn1",
						"derivedColumn2 select(mapColumn(",
						"          object_id,",
						"          title,",
						"          inventory_n = inventoryNumber,",
						"          production_raw,",
						"          acquisition_raw,",
						"          acquisition_method_raw = acquisition_method,",
						"          artist_id,",
						"          artist_name,",
						"          artist_birth_raw,",
						"          artist_death_raw,",
						"          artist_gender,",
						"          artist_country_raw = artist_country,",
						"          artist_group,",
						"          dimension_unit,",
						"          measurement_value1,",
						"          measurement_value2,",
						"          measurement_value3,",
						"          medium_classification_raw,",
						"          medium1,",
						"          museum_id,",
						"          museum_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"derivedColumn1 derive(measurement_value1 = measurement_value_raw[1],",
						"          measurement_value2 = measurement_value_raw[3],",
						"          measurement_value3 = measurement_value_raw[5]) ~> derivedColumn2",
						"select2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     truncate: true,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> MET"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/met_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest_all_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_museums_csv",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingest_museums_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "ingest_museums_json",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "ingest_museums_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ingest_museums_json",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ingest_museums_csv')]",
				"[concat(variables('factoryId'), '/pipelines/ingest_museums_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_transformation_format')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "kiasma_raw_to_parquet",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "kiasma_raw_to_parquet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"kiasmaRaw": {},
									"kiasmaRawDimensions": {},
									"kiasmaRawMedium": {},
									"Ateneum": {},
									"Kiasma": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "met_raw_to_parquet",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "kiasma_raw_to_parquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "met_raw_to_parquet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"metRaw": {},
									"MET": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/kiasma_raw_to_parquet')]",
				"[concat(variables('factoryId'), '/dataflows/met_raw_to_parquet')]"
			]
		}
	]
}