pipelines/pipeline/scraping_pipeline_test.json
{
	"name": "scraping_pipeline_test",
	"properties": {
		"activities": [
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "moderna",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "saveOutput",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Azure Function1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://museumsdatalakeraw.blob.core.windows.net/raw/scraped/moderna.json?sp=racw&st=2025-04-04T23:56:04Z&se=2025-04-05T07:56:04Z&sv=2024-11-04&sr=c&sig=leibeUxieDFVZsOkGpWHQkwV2LwmIe%2FfPVxMfigCs1s%3D",
					"body": {
						"value": "@activity('Azure Function1').output.Response",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Response": {
				"type": "String"
			}
		},
		"annotations": []
	}
}