museums/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "museums"
		},
		"AzureFunction1_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'AzureFunction1'"
		},
		"AzureFunction1_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://museums-scraping.azurewebsites.net"
		},
		"BlobStorageRaw_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://museumsdatalakeraw.blob.core.windows.net/"
		},
		"GitHub_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com/"
		},
		"LS_KiasmaAPI_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.kansallisgalleria.fi/api/v1/objects"
		},
		"LS_all_apis_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseURL}"
		},
		"museums_csv_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().BaseURL}"
		},
		"BlobStorageStandardized_properties_typeProperties_serviceEndpoint": {
			"type": "string",
			"defaultValue": "https://museumsdatalakeraw.blob.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ingest_museums_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"description": "Fetch URL data",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "rawCSVpaths",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "loop over URLs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data from URLs to Blob Storage-raw",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"copyBehavior": "PreserveHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"dataIntegrationUnits": 4,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "all_csv_files_github",
											"type": "DatasetReference",
											"parameters": {
												"BaseURL": {
													"value": "@item().BaseURL",
													"type": "Expression"
												},
												"RelativeURL": {
													"value": "@item().RelativeURL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "all_csv_files_blob_raw",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/rawCSVpaths')]",
				"[concat(variables('factoryId'), '/datasets/all_csv_files_github')]",
				"[concat(variables('factoryId'), '/datasets/all_csv_files_blob_raw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ingest_museums_json')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_API_links",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "raw_api_links",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Loop over APIs",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_API_links",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_API_links').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET"
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "all_api_files_raw",
											"type": "DatasetReference",
											"parameters": {
												"RelativeURL": {
													"value": "@item().RelativeURL",
													"type": "Expression"
												},
												"BaseURL": {
													"value": "@item().BaseURL",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "all_api_files_json",
											"type": "DatasetReference",
											"parameters": {
												"FileName": {
													"value": "@item().FileName",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/raw_api_links')]",
				"[concat(variables('factoryId'), '/datasets/all_api_files_raw')]",
				"[concat(variables('factoryId'), '/datasets/all_api_files_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_transformation_format')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "kiasma_raw_to_parquet",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "kiasma_raw_to_parquet",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"kiasmaRaw": {},
									"kiasmaRawDimensions": {},
									"kiasmaRawMedium": {},
									"Ateneum": {},
									"Kiasma": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/kiasma_raw_to_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/scraping_pipeline_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "moderna",
							"headers": {},
							"method": "GET"
						},
						"linkedServiceName": {
							"referenceName": "AzureFunction1",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "saveOutput",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Azure Function1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {
								"x-ms-blob-type": "BlockBlob"
							},
							"url": "https://museumsdatalakeraw.blob.core.windows.net/raw/scraped/moderna.json?sp=racw&st=2025-04-04T23:56:04Z&se=2025-04-05T07:56:04Z&sv=2024-11-04&sr=c&sig=leibeUxieDFVZsOkGpWHQkwV2LwmIe%2FfPVxMfigCs1s%3D",
							"body": {
								"value": "@activity('Azure Function1').output.Response",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"Response": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureFunction1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/KiasmaDS_API')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_KiasmaAPI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KiasmaAPI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NGA_GitHub_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "GitHub",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "NationalGalleryOfArt/opendata/refs/heads/main/data/objects.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/GitHub')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NGA_artworks')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "nga_artworks.csv",
						"folderPath": "open access",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Object Number",
						"type": "String"
					},
					{
						"name": "Is Highlight",
						"type": "String"
					},
					{
						"name": "Is Timeline Work",
						"type": "String"
					},
					{
						"name": "Is Public Domain",
						"type": "String"
					},
					{
						"name": "Object ID",
						"type": "String"
					},
					{
						"name": "Gallery Number",
						"type": "String"
					},
					{
						"name": "Department",
						"type": "String"
					},
					{
						"name": "AccessionYear",
						"type": "String"
					},
					{
						"name": "Object Name",
						"type": "String"
					},
					{
						"name": "Title",
						"type": "String"
					},
					{
						"name": "Culture",
						"type": "String"
					},
					{
						"name": "Period",
						"type": "String"
					},
					{
						"name": "Dynasty",
						"type": "String"
					},
					{
						"name": "Reign",
						"type": "String"
					},
					{
						"name": "Portfolio",
						"type": "String"
					},
					{
						"name": "Constituent ID",
						"type": "String"
					},
					{
						"name": "Artist Role",
						"type": "String"
					},
					{
						"name": "Artist Prefix",
						"type": "String"
					},
					{
						"name": "Artist Display Name",
						"type": "String"
					},
					{
						"name": "Artist Display Bio",
						"type": "String"
					},
					{
						"name": "Artist Suffix",
						"type": "String"
					},
					{
						"name": "Artist Alpha Sort",
						"type": "String"
					},
					{
						"name": "Artist Nationality",
						"type": "String"
					},
					{
						"name": "Artist Begin Date",
						"type": "String"
					},
					{
						"name": "Artist End Date",
						"type": "String"
					},
					{
						"name": "Artist Gender",
						"type": "String"
					},
					{
						"name": "Artist ULAN URL",
						"type": "String"
					},
					{
						"name": "Artist Wikidata URL",
						"type": "String"
					},
					{
						"name": "Object Date",
						"type": "String"
					},
					{
						"name": "Object Begin Date",
						"type": "String"
					},
					{
						"name": "Object End Date",
						"type": "String"
					},
					{
						"name": "Medium",
						"type": "String"
					},
					{
						"name": "Dimensions",
						"type": "String"
					},
					{
						"name": "Credit Line",
						"type": "String"
					},
					{
						"name": "Geography Type",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "County",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Region",
						"type": "String"
					},
					{
						"name": "Subregion",
						"type": "String"
					},
					{
						"name": "Locale",
						"type": "String"
					},
					{
						"name": "Locus",
						"type": "String"
					},
					{
						"name": "Excavation",
						"type": "String"
					},
					{
						"name": "River",
						"type": "String"
					},
					{
						"name": "Classification",
						"type": "String"
					},
					{
						"name": "Rights and Reproduction",
						"type": "String"
					},
					{
						"name": "Link Resource",
						"type": "String"
					},
					{
						"name": "Object Wikidata URL",
						"type": "String"
					},
					{
						"name": "Metadata Date",
						"type": "String"
					},
					{
						"name": "Repository",
						"type": "String"
					},
					{
						"name": "Tags",
						"type": "String"
					},
					{
						"name": "Tags AAT URL",
						"type": "String"
					},
					{
						"name": "Tags Wikidata URL",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_api_files_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "api",
						"container": "raw"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"objectId": {
							"type": "integer"
						},
						"responsibleOrganisation": {
							"type": "string"
						},
						"dimensions": {
							"type": "array"
						},
						"keywords": {
							"type": "array"
						},
						"materials": {
							"type": "array"
						},
						"category": {
							"type": "object",
							"properties": {
								"categoryId": {
									"type": "string"
								},
								"en": {
									"type": "string"
								},
								"fi": {
									"type": "string"
								},
								"sv": {
									"type": "string"
								}
							}
						},
						"classifications": {
							"type": "array"
						},
						"inventoryNumber": {
							"type": "string"
						},
						"people": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "integer"
									},
									"firstName": {
										"type": "string"
									},
									"familyName": {
										"type": "string"
									},
									"birthDate": {
										"type": "string"
									},
									"deathDate": {
										"type": "string"
									},
									"birthPlace": {
										"type": "string"
									},
									"deathPlace": {
										"type": "string"
									},
									"birthYear": {
										"type": "integer"
									},
									"deathYear": {
										"type": "integer"
									},
									"attribution": {
										"type": "null"
									},
									"role": {
										"type": "object",
										"properties": {
											"id": {
												"type": "integer"
											},
											"fi": {
												"type": "string"
											},
											"sv": {
												"type": "string"
											},
											"en": {
												"type": "string"
											},
											"type": {
												"type": "string"
											}
										}
									},
									"birthPlace2": {
										"type": "null"
									},
									"birthPlace3": {
										"type": "null"
									},
									"deathPlace2": {
										"type": "null"
									},
									"deathPlace3": {
										"type": "null"
									}
								}
							}
						},
						"multimedia": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"id": {
										"type": "integer"
									},
									"license": {
										"type": "string"
									},
									"updated_timestamp": {
										"type": "string"
									},
									"filename_extension": {
										"type": "string"
									},
									"width": {
										"type": "integer"
									},
									"height": {
										"type": "integer"
									},
									"size": {
										"type": "integer"
									},
									"image_version": {
										"type": "integer"
									},
									"isRiaDisplayImage": {
										"type": "boolean"
									},
									"ordinal": {
										"type": "integer"
									},
									"photographer_name": {
										"type": "string"
									},
									"address": {
										"type": "null"
									},
									"filename": {
										"type": "string"
									},
									"jpg": {
										"type": "object",
										"properties": {
											"25": {
												"type": "string"
											},
											"250": {
												"type": "string"
											},
											"500": {
												"type": "string"
											},
											"1000": {
												"type": "string"
											},
											"2000": {
												"type": "string"
											},
											"4000": {
												"type": "string"
											}
										}
									},
									"webp": {
										"type": "object",
										"properties": {
											"25": {
												"type": "string"
											},
											"250": {
												"type": "string"
											},
											"500": {
												"type": "string"
											},
											"1000": {
												"type": "string"
											},
											"2000": {
												"type": "string"
											},
											"4000": {
												"type": "string"
											}
										}
									}
								}
							}
						},
						"owner": {
							"type": "string"
						},
						"exhibitions": {
							"type": "array"
						},
						"children": {
							"type": "array"
						},
						"parents": {
							"type": "array",
							"items": {
								"type": "integer"
							}
						},
						"acquisitionDate": {
							"type": "string"
						},
						"title": {
							"type": "object",
							"properties": {
								"en": {
									"type": "string"
								},
								"fi": {
									"type": "string"
								},
								"sv": {
									"type": "string"
								}
							}
						},
						"acquisitionMethod": {
							"type": "object",
							"properties": {
								"en": {
									"type": "string"
								},
								"fi": {
									"type": "string"
								},
								"sv": {
									"type": "string"
								}
							}
						},
						"acquisitionYear": {
							"type": "integer"
						},
						"yearTo": {
							"type": "integer"
						},
						"yearFrom": {
							"type": "integer"
						},
						"description": {
							"type": "object",
							"properties": {
								"id": {
									"type": "integer"
								},
								"artworkId": {
									"type": "integer"
								},
								"en": {
									"type": "string"
								},
								"fi": {
									"type": "string"
								},
								"sv": {
									"type": "string"
								},
								"type": {
									"type": "string"
								}
							}
						},
						"dateFrom": {
							"type": "string"
						},
						"collection": {
							"type": "object",
							"properties": {
								"fi": {
									"type": "string"
								},
								"en": {
									"type": "string"
								},
								"sv": {
									"type": "string"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_api_files_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_all_apis",
					"type": "LinkedServiceReference",
					"parameters": {
						"BaseURL": {
							"value": "@dataset().BaseURL",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"RelativeURL": {
						"type": "string"
					},
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@dataset().RelativeURL",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_all_apis')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_csv_files_blob_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FileName",
							"type": "Expression"
						},
						"folderPath": "open access",
						"container": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/all_csv_files_github')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "museums_csv",
					"type": "LinkedServiceReference",
					"parameters": {
						"BaseURL": {
							"value": "@dataset().BaseURL",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"BaseURL": {
						"type": "string"
					},
					"RelativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().RelativeURL",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/museums_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kiasma_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "kiasma_ateneum_artworks.json",
						"folderPath": "api",
						"container": "raw"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rawCSVpaths')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "github_csv_file_paths.json",
						"container": "misc"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"BaseURL": {
							"type": "string"
						},
						"RelativeURL": {
							"type": "string"
						},
						"FileName": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/raw_api_links')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageRaw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "api_links.json",
						"container": "misc"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFunction1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('AzureFunction1_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('AzureFunction1_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageRaw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('BlobStorageRaw_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GitHub')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('GitHub_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KiasmaAPI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_KiasmaAPI_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_all_apis')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_all_apis_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/museums_csv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"BaseURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('museums_csv_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kiasma_raw_to_parquet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "kiasma_json",
								"type": "DatasetReference"
							},
							"name": "kiasmaRaw"
						},
						{
							"dataset": {
								"referenceName": "kiasma_json",
								"type": "DatasetReference"
							},
							"name": "kiasmaRawDimensions"
						},
						{
							"dataset": {
								"referenceName": "kiasma_json",
								"type": "DatasetReference"
							},
							"name": "kiasmaRawMedium"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ateneum_parquet",
								"type": "DatasetReference"
							},
							"name": "Ateneum"
						},
						{
							"dataset": {
								"referenceName": "kiasma_parquet",
								"type": "DatasetReference"
							},
							"name": "Kiasma"
						}
					],
					"transformations": [
						{
							"name": "selectBasicCols"
						},
						{
							"name": "split1"
						},
						{
							"name": "flattenArtist"
						},
						{
							"name": "selectDimensionsCols"
						},
						{
							"name": "flattenDimensions"
						},
						{
							"name": "addColForPivot"
						},
						{
							"name": "pivotDimesions"
						},
						{
							"name": "addNewCols",
							"description": "Creates an explicit mapping for each drifted column"
						},
						{
							"name": "FilterNewCols"
						},
						{
							"name": "joinDimensions"
						},
						{
							"name": "selectMedium"
						},
						{
							"name": "flattenMedium"
						},
						{
							"name": "addColforPivot2"
						},
						{
							"name": "pivotMedium"
						},
						{
							"name": "AddMediumCol",
							"description": "Creates an explicit mapping for each drifted column"
						},
						{
							"name": "joinMedium"
						},
						{
							"name": "acqusitionRaw"
						},
						{
							"name": "productionRaw"
						},
						{
							"name": "artistName"
						},
						{
							"name": "artistBirthRaw"
						},
						{
							"name": "artistDeathRaw"
						},
						{
							"name": "selectRaw"
						},
						{
							"name": "addMuseumName"
						},
						{
							"name": "selectFinal"
						},
						{
							"name": "addMuseumName2"
						},
						{
							"name": "selectFinal2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          acquisitionDate as string,",
						"          acquisitionMethod as (en as string, fi as string, sv as string),",
						"          acquisitionYear as short,",
						"          category as (categoryId as string, en as string, fi as string, sv as string),",
						"          children as integer[],",
						"          classifications as (en as string, fi as string, sv as string)[],",
						"          collection as (en as string, fi as string, sv as string),",
						"          dateFrom as string,",
						"          datePrefix as (en as string, fi as string, sv as string),",
						"          description as (artworkId as integer, en as string, fi as string, id as integer, sv as string, type as string),",
						"          dimensions as (measureType as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), measurements as double[], sortLnu as short, unit as string)[],",
						"          exhibitions as (endDate as date, id as integer, location as string, startDate as date, title as string)[],",
						"          inventoryNumber as string,",
						"          keywords as (en as string, fi as string, sv as string)[],",
						"          materials as (en as string, fi as string, sv as string)[],",
						"          multimedia as (address as (created as string, family_name as string, first_name as string, id as integer, updated as string), filename as string, filename_extension as string, height as short, id as integer, image_version as boolean, isRiaDisplayImage as boolean, jpg as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), license as string, ordinal as integer, photographer_name as string, size as integer, updated_timestamp as string, webp as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), width as short)[],",
						"          objectId as integer,",
						"          owner as string,",
						"          parents as integer[],",
						"          people as (attribution as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthDate as date, birthPlace as string, birthPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthYear as short, deathDate as date, deathPlace as string, deathPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathYear as short, familyName as string, firstName as string, id as integer, role as (en as string, fi as string, id as integer, sv as string, type as string))[],",
						"          responsibleOrganisation as string,",
						"          title as (en as string, fi as string, sv as string),",
						"          yearFrom as short,",
						"          yearTo as short",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> kiasmaRaw",
						"source(output(",
						"          acquisitionDate as string,",
						"          acquisitionMethod as (en as string, fi as string, sv as string),",
						"          acquisitionYear as short,",
						"          category as (categoryId as string, en as string, fi as string, sv as string),",
						"          children as integer[],",
						"          classifications as (en as string, fi as string, sv as string)[],",
						"          collection as (en as string, fi as string, sv as string),",
						"          dateFrom as string,",
						"          datePrefix as (en as string, fi as string, sv as string),",
						"          description as (artworkId as integer, en as string, fi as string, id as integer, sv as string, type as string),",
						"          dimensions as (measureType as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), measurements as double[], sortLnu as short, unit as string)[],",
						"          exhibitions as (endDate as date, id as integer, location as string, startDate as date, title as string)[],",
						"          inventoryNumber as string,",
						"          keywords as (en as string, fi as string, sv as string)[],",
						"          materials as (en as string, fi as string, sv as string)[],",
						"          multimedia as (address as (created as string, family_name as string, first_name as string, id as integer, updated as string), filename as string, filename_extension as string, height as short, id as integer, image_version as boolean, isRiaDisplayImage as boolean, jpg as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), license as string, ordinal as integer, photographer_name as string, size as integer, updated_timestamp as string, webp as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), width as short)[],",
						"          objectId as integer,",
						"          owner as string,",
						"          parents as integer[],",
						"          people as (attribution as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthDate as date, birthPlace as string, birthPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthYear as short, deathDate as date, deathPlace as string, deathPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathYear as short, familyName as string, firstName as string, id as integer, role as (en as string, fi as string, id as integer, sv as string, type as string))[],",
						"          responsibleOrganisation as string,",
						"          title as (en as string, fi as string, sv as string),",
						"          yearFrom as short,",
						"          yearTo as short",
						"     ),",
						"     allowSchemaDrift: false,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> kiasmaRawDimensions",
						"source(output(",
						"          acquisitionDate as string,",
						"          acquisitionMethod as (en as string, fi as string, sv as string),",
						"          acquisitionYear as short,",
						"          category as (categoryId as string, en as string, fi as string, sv as string),",
						"          children as integer[],",
						"          classifications as (en as string, fi as string, sv as string)[],",
						"          collection as (en as string, fi as string, sv as string),",
						"          dateFrom as string,",
						"          datePrefix as (en as string, fi as string, sv as string),",
						"          description as (artworkId as integer, en as string, fi as string, id as integer, sv as string, type as string),",
						"          dimensions as (measureType as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), measurements as double[], sortLnu as short, unit as string)[],",
						"          exhibitions as (endDate as date, id as integer, location as string, startDate as date, title as string)[],",
						"          inventoryNumber as string,",
						"          keywords as (en as string, fi as string, sv as string)[],",
						"          materials as (en as string, fi as string, sv as string)[],",
						"          multimedia as (address as (created as string, family_name as string, first_name as string, id as integer, updated as string), filename as string, filename_extension as string, height as short, id as integer, image_version as boolean, isRiaDisplayImage as boolean, jpg as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), license as string, ordinal as integer, photographer_name as string, size as integer, updated_timestamp as string, webp as ({1000} as string, {2000} as string, {25} as string, {250} as string, {4000} as string, {500} as string), width as short)[],",
						"          objectId as integer,",
						"          owner as string,",
						"          parents as integer[],",
						"          people as (attribution as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthDate as date, birthPlace as string, birthPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), birthYear as short, deathDate as date, deathPlace as string, deathPlace2 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathPlace3 as (en as string, fi as string, id as integer, sv as string, type as string, updated as string), deathYear as short, familyName as string, firstName as string, id as integer, role as (en as string, fi as string, id as integer, sv as string, type as string))[],",
						"          responsibleOrganisation as string,",
						"          title as (en as string, fi as string, sv as string),",
						"          yearFrom as short,",
						"          yearTo as short",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> kiasmaRawMedium",
						"kiasmaRaw select(mapColumn(",
						"          acquisitionDate,",
						"          acquisitionMethod,",
						"          acquisitionYear,",
						"          dateFrom,",
						"          inventoryNumber,",
						"          objectId,",
						"          owner,",
						"          people,",
						"          responsibleOrganisation,",
						"          title,",
						"          yearFrom,",
						"          yearTo",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectBasicCols",
						"joinMedium split(responsibleOrganisation=='Kansallisgalleria / Ateneumin taidemuseo',",
						"     responsibleOrganisation=='Kansallisgalleria / Nykytaiteen museo Kiasma',",
						"     disjoint: false) ~> split1@(ateneum, kiasma, rest)",
						"productionRaw foldDown(unroll(people),",
						"     mapColumn(",
						"          objectId,",
						"          title = title.fi,",
						"          inventoryNumber,",
						"          acqiusition_method = acquisitionMethod.en,",
						"          acquisition_raw,",
						"          production_raw,",
						"          responsibleOrganisation,",
						"          artist_id = people.id,",
						"          familyName = people.familyName,",
						"          firstName = people.firstName,",
						"          birthDate = people.birthDate,",
						"          birthYear = people.birthYear,",
						"          deathDate = people.deathDate,",
						"          deathYear = people.deathYear",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenArtist",
						"kiasmaRawDimensions select(mapColumn(",
						"          dimensions,",
						"          objectId",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectDimensionsCols",
						"selectDimensionsCols foldDown(unrollMultiple(dimensions,dimensions.measurements),",
						"     mapColumn(",
						"          objectId,",
						"          dimension_unit = dimensions.unit,",
						"          measurement_value = dimensions.measurements",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenDimensions",
						"flattenDimensions window(over(objectId),",
						"     asc(measurement_value, true),",
						"     measurement_n = rowNumber()) ~> addColForPivot",
						"addColForPivot pivot(groupBy(objectId,",
						"          dimension_unit),",
						"     pivotBy(measurement_n),",
						"     measurement_value = first(measurement_value),",
						"     columnNaming: '$N$V',",
						"     lateral: false) ~> pivotDimesions",
						"pivotDimesions derive(measurement_value1 = toDouble(byName('measurement_value1')),",
						"          measurement_value2 = toDouble(byName('measurement_value2')),",
						"          measurement_value3 = toDouble(byName('measurement_value3')),",
						"          measurement_value4 = toDouble(byName('measurement_value4'))) ~> addNewCols",
						"addNewCols select(mapColumn(",
						"          objectId,",
						"          dimension_unit,",
						"          measurement_value1,",
						"          measurement_value2,",
						"          measurement_value3,",
						"          measurement_value4",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> FilterNewCols",
						"selectRaw, FilterNewCols join(selectRaw@objectId == FilterNewCols@objectId,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinDimensions",
						"kiasmaRawMedium select(mapColumn(",
						"          materials,",
						"          objectId",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectMedium",
						"selectMedium foldDown(unroll(materials),",
						"     mapColumn(",
						"          objectId,",
						"          medium = materials.en",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flattenMedium",
						"flattenMedium window(over(objectId),",
						"     asc(medium, true),",
						"     medium_n = rowNumber()) ~> addColforPivot2",
						"addColforPivot2 pivot(groupBy(objectId),",
						"     pivotBy(medium_n),",
						"     medium = first(medium),",
						"     columnNaming: '$N$V',",
						"     lateral: false) ~> pivotMedium",
						"pivotMedium derive(medium1 = toString(byName('medium1')),",
						"          medium2 = toString(byName('medium2')),",
						"          medium3 = toString(byName('medium3')),",
						"          medium4 = toString(byName('medium4')),",
						"          medium5 = toString(byName('medium5')),",
						"          medium6 = toString(byName('medium6'))) ~> AddMediumCol",
						"joinDimensions, AddMediumCol join(selectRaw@objectId == pivotMedium@objectId,",
						"     joinType:'left',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinMedium",
						"selectBasicCols derive(acquisition_raw = iif(isNull(acquisitionDate), toString(acquisitionYear), acquisitionDate)",
						"",
						") ~> acqusitionRaw",
						"acqusitionRaw derive(production_raw = coalesce(toString(yearTo), toString(yearFrom), dateFrom)) ~> productionRaw",
						"flattenArtist derive(Artist_name = iif(isNull(familyName + ' ' + firstName), coalesce(familyName, firstName), familyName + ' ' + firstName)) ~> artistName",
						"artistName derive(artist_birth_raw = coalesce(birthDate, toDate(toString(birthYear) + '-01-01'))) ~> artistBirthRaw",
						"artistBirthRaw derive(artist_death_raw = coalesce(deathDate, toDate(toString(deathYear) + '-01-01'))) ~> artistDeathRaw",
						"artistDeathRaw select(mapColumn(",
						"          objectId,",
						"          title,",
						"          inventoryNumber,",
						"          production_raw,",
						"          acqiusition_method,",
						"          acquisition_raw,",
						"          responsibleOrganisation,",
						"          artist_id,",
						"          Artist_name,",
						"          artist_birth_raw,",
						"          artist_death_raw",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectRaw",
						"split1@ateneum derive(Museum_name = \"Ateneum\") ~> addMuseumName",
						"addMuseumName select(mapColumn(",
						"          object_id = split1@ateneum@objectId,",
						"          title,",
						"          inventoryNumber,",
						"          production_raw,",
						"          acquisition_raw,",
						"          acqiusition_method,",
						"          artist_id,",
						"          Artist_name,",
						"          artist_birth_raw,",
						"          artist_death_raw,",
						"          dimension_unit,",
						"          measurement_value1,",
						"          measurement_value2,",
						"          measurement_value3,",
						"          measurement_value4,",
						"          medium1,",
						"          medium2,",
						"          medium3,",
						"          medium4,",
						"          medium5,",
						"          Museum_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectFinal",
						"split1@kiasma derive(Museum_name = \"Kiasma\") ~> addMuseumName2",
						"addMuseumName2 select(mapColumn(",
						"          object_id = split1@kiasma@objectId,",
						"          title,",
						"          inventoryNumber,",
						"          production_raw,",
						"          acquisition_raw,",
						"          acqiusition_method,",
						"          artist_id,",
						"          Artist_name,",
						"          artist_birth_raw,",
						"          artist_death_raw,",
						"          dimension_unit,",
						"          measurement_value1,",
						"          measurement_value2,",
						"          measurement_value3,",
						"          measurement_value4,",
						"          medium1,",
						"          medium2,",
						"          medium3,",
						"          medium4,",
						"          medium5,",
						"          Museum_name",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> selectFinal2",
						"selectFinal sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Ateneum",
						"selectFinal2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Kiasma"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/kiasma_json')]",
				"[concat(variables('factoryId'), '/datasets/ateneum_parquet')]",
				"[concat(variables('factoryId'), '/datasets/kiasma_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BlobStorageStandardized')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"serviceEndpoint": "[parameters('BlobStorageStandardized_properties_typeProperties_serviceEndpoint')]",
					"accountKind": "StorageV2"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ateneum_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageStandardized",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "ateneum",
						"container": "standardized"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageStandardized')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/kiasma_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BlobStorageStandardized",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "kiasma",
						"container": "standardized"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BlobStorageStandardized')]"
			]
		}
	]
}